/*css reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* 规定两个并排的带边框的框 */
}

ul,ol{
    list-style: none; 
    /* 没有小点点 */
}
img{
    max-width: 100%;
    /* 宽度不超过100% */
}
a{
    text-decoration: none;
    color: inherit;
}
/* page styles */
section.summary{
    height: 100vh; /*100vh等于屏幕一样的高度*/
 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  /* 设置内容垂直显示 */
    /* background: transparent url("http://userimage2.360doc.com/11/0911/09/838587_201109110900510512.jpg") no-repeat;
    background-size: cover; */
}
section.summary img.avatar{
    white: 100px;
    height: 100px;
    border-radius: 50%;
}
section.summary .text{
    line-height: 1.5;
    text-align: center;
    font-size: 16px;
  
}

section.works{
    min-height: 100vh;
    background: rgb(244, 244, 244);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 420px){
    section.works{
        height: auto;
        min-height: 100vh;
        
    }
}
section.works img{
    max-width: 200px;
}
section.works .imagewrapper{
    padding: 10px 10px 3px;
    background: white;
    text-align: right;
}
section.works .imagewrapper a{
    font-size: 13px;
}
section.works > ul{
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    justify-content: space-between;
}
@media (max-width: 420px){
    section.works{
        padding: 1em;
    }
    section.works > ul{
        justify-content: center;
        
    }
}
section.works > ul h3{
    font-weight: normal;
    font-size: 11px;
    padding-left: 10px;
    margin: 8px 0;

}
section.works > h2, section.contacts > h2{
    font-size: 20px;
    margin-bottom: 1em;
    padding: 10px;
}
section.contacts {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2;
}

section.contacts > dl{
    display: flex;
    flex-wrap: wrap;
    width: 20em;
}
@media (max-width: 420px){
    section.contacts dl{
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        width: auto;
    }
}
section.contacts > dl > dt{
    width: 3em;
    
}
section.contacts > dl > dd{
    width: 17em;
    
}
@media (max-width: 420px){
    section.contacts > dl > dd{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
    }
}